.box{
    background-color: #F6F6F6;
    color: #848181;
    border: 2px solid #dddddd;
    border-radius: 10px;
    width: 74%;
    margin: 10px 0 10px 38px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label{
    margin-right: 10px;
}

input{
    height: min-content;
    border: 2px solid #dddddd;
    border-radius: 5px;
    margin-top: 3px;
}